-i https://pypi.org/simple
py-cord~=2.6.1
python-dotenv~=1.0.1
beautifulsoup4~=4.12.3
types-beautifulsoup4~=4.12.0
requests~=2.32.3
types-requests~=2.32.0
pillow~=10.4.0
tortoise-orm~=0.21.7
aerich~=0.7.2
easyocr~=1.7.2
numpy~=1.26.3
thefuzz~=0.22.1